<section class="hero is-primary is-bold">
  <div class="hero-body">
  <div class="container">

    <h1 class="title">Contact Us!</h1>

  </div>
  </div>
</section>

<section class="section">
  <div class="container">
  <!--- contact form -->
    <form (ngSubmit)="processForm()">
      
      <!-- name -->
      <div class="field">
        <input type="text" name="name" class="input" placeholder="Your Name" [(ngModel)]="name">
      </div>

      <!-- email -->
      <div class="field">
        <input type="email" class="input" name="email" placeholder="Your Email" [(ngModel)]="email">
      </div>

      <!-- message -->
      <div class="field">
        <textarea name="message" placeholder="what's on your mind?" class="textarea" [(ngModel)]="message"></textarea>
      </div>

      <!-- submit button -->
      <button type="submit" class="button is-danger is-large">Submit</button>
    </form>
  </div>

</section>
